
body,
h1,
h2,
h3,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f2cf88;
}

header {
    background-color: #eb9b3a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header-container .tagline {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: 300;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background 0.3s, border-color 0.3s;
}

.navbar a:hover {
    background: #fff;
    color: #e67022;
    border-color: #fff;
}


.section {
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #e67022;
}

.section p {
    font-size: 1.1em;
    color: #555;
}


.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.service-item {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 300px;
    text-align: center;
}


.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}


.contact-section {
    background:#ee9c49 ;
    color: #fff;
    border-radius: 10px;
}

.contact-info a {
    color: #b970ad;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #b970ad;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta-button:hover {
    background: #a05899;
}


footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}